## Header optimisation w. dareboost
# Browser caching
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|webp|webm|ttf|woff|woff2)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# Security and stuff
#     Update SHA-256 for inline scripts, Chrome generates them
# Exclude pdf, or else it won't display properly (known bug.. https://bugs.chromium.org/p/chromium/issues/detail?id=271452)
# Also .htacess in subdirectories don't overload, need to include inline SHA-256 security here too >.>, dat POS
#         script & style-src contains in order cv, xp, competences (2 for style) SHA-256
<FilesMatch "\.(html)$">
  <IfModule mod_headers.c>
  Header set Content-Security-Policy: "default-src 'self'; form-action 'none'; frame-ancestors 'none'; base-uri 'self'; script-src 'self' 'sha256-m0HApGnKHLxBcx7v/WAkvcDVl2JTFVGt/D3cvtyRdDU=' 'sha256-lXMfgOXV4uKhH+OL7XBsXG4chKZFg+rvnDpyZd7UV6k=' 'sha256-CLaxbeg+4j5s0E/YdpzacGDNaD+af+HX6rgTg4yfQ4g='; style-src 'self' 'sha256-jlcG36lvwrBQbAZZ2cr49oNhpiLa1AB1T2HeJME2AO8=' 'sha256-DykxBtpmfCxmMRbdQ3ZGFDssbvGY6TDsj3nXXe66QtQ=' 'sha256-QRzWYrgAW2yZUdlY3tWEXZmz+Ey4lATIuL69WKX6pMA=' 'sha256-ESwzs/pwk6xVxIZH3YCxHKVRV9YGR02+QzCza+PCibs='"
  </IfModule>
</FilesMatch>

# Font types
<IfModule mod_mime.c>
    AddType application/vnd.ms-fontobject    .eot
    AddType application/x-font-opentype      .otf
    AddType image/svg+xml                    .svg
    AddType application/x-font-ttf           .ttf
    AddType application/font-woff            .woff
    AddType application/font-woff2           .woff2
</IfModule>

# Headers optimisation
AddDefaultCharset utf-8
DefaultLanguage fr-FR

# Prevent XSS / Block all content if suspected
<IfModule mod_headers.c>
Header always set X-XSS-Protection "1; mode=block"
</IfModule>

# Prevent MIME-Type sniffing
<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

# Prevent clickjacking
<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "DENY"
</IfModule>

# inline PDF handling
<FilesMatch "\.(pdf)$">
  ForceType application/pdf
  Header set Content-Disposition: inline
</FilesMatch>
